.heder__burger-item {
  display: block; 
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  transition-duration: .25s;
}

 

.heder__burger-item:hover {
  background-color: #CFD8DC;
}



.header__list-element {
  padding: 20px 0 0;
}

.header__list-element:first-child {
  padding: 0 0 34px;
}

.header__list-element:nth-child(2) {
  padding: 0;
}