.leave-request__label {
    display: flex;
    margin-top: 18px;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #ADB5BD;
 }



 .leave-request__label:first-child {
   margin-top: 0;
 }