.about-company__text-box {
    display: flex;
    flex-direction: column;
    max-width: 676px;
}


@media screen and (max-width: 628px) {
    .about-company__text-box {
        
        align-items: center;
    }
}