.aboyt-company__figcaption {
    margin: 8px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #8D959D;
    display: flex;
    justify-content: center;
 }