.heder__link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: black;
    transition: .2s linear;
}

.heder__link:hover {
    opacity: .5;
    transition: .2s linear;

}