.portfolio__content-box {
    width: 100%;
    display: grid;
    gap: 58px 27px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

}

@media screen and (max-width: 628px) {
    .portfolio__content-box {
        grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
    }
}