.portfolio__title-dox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
 }

 @media screen and (max-width: 500px) {
    .portfolio__title-dox {
        gap: 15px;
        flex-direction: column;
        margin-bottom: 30px;
    }

} 

@media screen and (max-width: 350px) {
    .portfolio__title-dox {
        align-items: start;
        gap: 8px;
        margin-bottom: 39px;
    }

} 