.hero__arrow {
    position: relative;
    left: 19px;
    max-width: 19.18px;
    min-height: 17.39px;
}


@media screen and (max-width: 628px) {
    .hero__arrow {
        
      left: 0;
    }
  
  }