.hero__contact_whatsapp {
  width: max-content;
  position: absolute;
  bottom: 35px;
  right: 194px;
}

@media screen and (max-width: 837px) {
  .hero__contact_whatsapp {
    left: 32px;
  }
}

@media screen and (max-width: 400px) {
  .hero__contact_whatsapp {
    left: auto;
    right: 72px;
    bottom: 32px;
  }
}