.heder__burger-box {
  box-sizing: border-box;
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 320px;
  height: 568px;
  margin: 0;
  padding: 24px 0 0 16px;
  list-style: none;
  background-color: white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}


@media screen and (max-width:400px) {
  .heder__burger-box {
    width: 100%;
  }
}