.heder__button-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 44px;
    background: var(--color-button);
    border-radius: 50px;
    border: none;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #FFFFFF;
    margin: 0 31px 0 0;
    transition: .2s linear;
}

.heder__button-link:hover {
    opacity: .85;
    transition: .2s linear;
}

.heder__button-link:active {
    opacity: .7;
    transform: scale(0.98);
    transition: .2s linear;
}