.button-page_leave-request-submit {
    position: relative;
    bottom: 13px;
    width: 192px;
    height: 68px;
    margin: 0 0 0;
    padding: 16px 32px;
    color: white;
    background-color: var(--color-button);
}


.button-page_leave-request-submit:disabled {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, .2);
    cursor: default;
}