 @import url(../vendor/normalize.css);
 @import url(../vendor/fonts/font-Inter.css);

 /*header*/
 @import url(../blocks/header/heder.css);
 @import url(../blocks/header/__logo/heder__logo.css);
 @import url(../blocks/header/__box/heder__box.css);
 @import url(../blocks/header/__list-links/heder__list-links.css);
 @import url(../blocks/header/__link/heder__link.css);
 @import url(../blocks/header/button/button.css);

 .body {
     max-width: 1440px;
     font-family: 'Inter', Arial, Helvetica, sans-serif;
     font-size: 16px;
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     -webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
     text-rendering: optimizeLegibility;
     --color-button: #D22020;
 }

  